{% extends '@layout/layout-blog.twig' %}
{% set pageTitle = page_data.title %}

{% block content %}
	<main role="main" id="main" class="main-conf">
		<div class="u-pt-xxl">

			<div class="row-main">
				<section class="c-gallery c-gallery--program u-mb-xxl" id="program">
					<div class="c-gallery__list">
						{% for card in page_data.list_of_blogposts %}

							{% set cardData = card|data(site_lang) %}

							<div class="c-gallery__item">
								<article class="b-card b-card--program">
									<div class="b-card__inner">
										<div class="b-card__img">
											<img src="{{ assets.images }}illust{{ cardData.image }}" alt="" width="174" height="174" {% if loop.index > 12 %} loading="lazy"{% endif %}>
										</div>
										<div class="b-card__content">
											<h3 class="b-card__title">
												{{ cardData.title|nl2br }}
											</h3>
											<div class="b-card__row">
												<div class="b-card__info">
													<p class="b-card__name">
														{{ cardData.author }}
													</p>
													<span class="b-card__company">
														{{ cardData.description|nl2br }}
													</span>
												</div>
												<a href="{{ card|url(site_lang) }}" class="b-card__link link-mask">
													{% include '@components/core/icon-svg/icon-svg.twig' with {
														props: {
															name: 'chevron-right',
															alt: 'Přejít na detail'
														}
													} %}
												</a>
											</div>
										</div>
									</div>
								</article>
							</div>
						{% endfor %}
					</div>
				</section>
			</div>
		</div>
	</main>
{% endblock %}
