{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Homepage' %}
{% set isHomepage = true %}

{% block content %}
	<main id="main" class="main">

		{% include '@components/box/conference.twig' %}

		{#
			<div class="u-bg-secondary">
				<div class="row-main">
					{% include '@components/box/meetup.twig' %}
				</div>
			</div>
		#}

		<div class="u-bg-tertiary u-pt-xxl">
			<div class="row-main">
				<div class="menu">
					<nav id="menu-main" class="m-main" aria-label="Hlavní menu" aria-expanded="false">
						<ul class="m-main__list">
							{% set items = [
								{ title: 'Úvod', href: '/' },
								{ title: 'Blog', href: '#blog' },
								{ title: 'O nás', href: '#about' },
								{ title: 'Partneři', href: '#partners' },
								{ title: 'Tým a kontakty', href: '#team' },
								{ title: 'English', href: '/en' },
							] %}
							{% for item in items %}
								<li class="m-main__item{% if item.isHiddenOnDesktop %} is-highlighted{% endif %}{% if item.isHiddenOnDesktop %} u-hide@md{% endif %}">
									<a href="{{ item.href }}" class="m-main__link">
										{{ item.title|raw }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</nav>
					<button class="menu__btn btn btn--transparent" data-menu-btn>
						<span class="btn__inner">
							<svg class="hamburger" viewBox="0 0 100 100" width="50">
								<path class="line line--top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
								<path class="line line--middle" d="m 30,49 h 40" />
								<path class="line line--bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
							</svg>
						</span>
					</button>
				</div>

				<section class="b-social">
					<h2 class="b-social__title">
						Budujeme a vzděláváme <br>
						komunitu frontendových <br>
						vývojářů a designérů
					</h2>
					<div class="b-social__inner">
						<div class="b-social__content">
							<div class="grid">
								<div class="grid__cell size--8-12@xl">
									<p>
										Sleduj, co je nového <br>
										na sociálních sítích.
									</p>
								</div>
								<div class="grid__cell size--auto@xl u-max-width--2-12">
									<div class="b-social__icons grid">
										{% set items = [
											{ name: "facebook", href: 'https://www.facebook.com/groups/frontendisti', alt: 'Frontendisti na facebooku' },
											{ name: "twitter", href: 'https://twitter.com/Frontendisti', alt: 'Frontendisti na twitteri' },
											{ name: "instagram", href: 'https://www.instagram.com/frontendisti', alt: 'Frontendisti na youtube' },
											{ name: "youtube", href: 'https://www.youtube.com/c/FrontendistiCz', alt: 'Frontendisti na instagrame' },
											{ name: "linkedin", href: 'https://www.linkedin.com/company/frontendisti/', alt: 'Frontendisti na linkedine' },
										] %}

										{% for item in items %}
											<div class="grid__cell size--auto">
												<a class="b-social__link" href="{{ item.href }}" target="_blank" rel="noopener noreferrer">
													{% include "@images/bg/" ~ item.name  ~ ".svg" %}
													<span class="u-vhide">
														{{ item.alt }}
													</span>
												</a>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<div class="b-social__gallery">
							{% for img in range(0, 17) %}
								<div class="b-social__img">
									<img src="{{ assets.images }}illust/gallery-{{ loop.index }}.jpg" alt="" width="110" height="110" loading="lazy">
								</div>
							{% endfor %}
						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="u-pt-xxl row-main">
			<section class="c-gallery c-gallery--program u-mb-xxl" id="blog">
				<h2 class="c-gallery__title">
					Co je nového?
				</h2>
				<pre>
				</pre>
				<div class="c-gallery__list">
					{% for card in page_data.list_of_blogposts|slice(0,4) %}

						{% set cardData = card|data(site_lang) %}
						{% if cardData %}
							<div class="c-gallery__item">
								<article class="b-card b-card--program">
									<div class="b-card__inner">
										{% if cardData.image %}
											<div class="b-card__img">
												<img src="{{ cardData.image }}" alt="" width="174" height="174" {% if loop.index > 12 %} loading="lazy"{% endif %}>
											</div>
										{% endif %}
										<div class="b-card__content">
											{% if cardData.title %}
												<h3 class="b-card__title">
													{{ cardData.title|raw|nl2br }}
												</h3>
											{% endif %}
											<div class="b-card__row">
												<div class="b-card__info">
													{% if cardData.author %}
														<p class="b-card__name">
															{{ cardData.author }}
														</p>
													{% endif %}
													{% if cardData.description %}
														<span class="b-card__company">
															{{ cardData.description|nl2br }}
														</span>
													{% endif %}
												</div>
												{% if card|url(site_lang) %}
													<a href="{{ card|url(site_lang) }}" class="b-card__link link-mask">
														{% include '@components/core/icon-svg/icon-svg.twig' with {
															props: {
																name: 'chevron-right',
																alt: 'Přejít na detail'
															}
														} %}
													</a>
												{% endif %}
											</div>
										</div>
									</div>
								</article>
							</div>
						{% endif %}

					{% endfor %}
				</div>
			</section>
		</div>

		<div class="u-bg-mint u-pt-xxl">
			<div class="row-main">
				<section class="c-gallery">
					<h2 class="c-gallery__title">
						Prohlédni si náš archiv, <br>
						kde je přes 200 záznamů.
					</h2>
					{% include '@components/box/videoThumbnails.twig' %}
					<div class="c-gallery__overlay">
						<p>
							<a href="https://www.youtube.com/c/FrontendistiCz/videos" class="btn btn--success" target="_blank" rel="noopener noreferrer">
								<span class="btn__inner">
									<span class="item-icon">
										<span class="item-icon__icon">
											{% include '@components/core/icon-svg/icon-svg.twig' with {
												 props: {
													name: 'eye'
												}
											} %}
										</span>
										<span class="item-icon__text">
											Celý archiv
										</span>
									</span>
								</span>
							</a>
						</p>
					</div>
				</section>
			</div>
		</div>

		<div class="u-bg-tertiary u-pt-xxl">
			<div class="row-main">
				<section class="b-content u-mb-xxl">
					<h2 class="b-content__title">
						Přihlaš přednášku pro akce <br> komunity Frontendisti.cz
					</h2>
					<div class="u-max-width--6-12 u-mx-auto u-text-center">
						<p>
							Máš zajímavé téma z oblasti webového frontendu – CSS, JS a příbuzných témat? Vyplň nám dotazník. Neboj se to zkusit, i když zkušenosti s přednášením zatím nemáš. Rádi ti pomůžeme.
						</p>
						<p class="u-pt-sm u-mb-xl">
							<a href="https://forms.gle/TAyjxZH9YHn8YmKV7" class="btn btn--blue" target="_blank" rel="noopener noreferrer">
								<span class="btn__inner">
									Přihlásit přednášku
								</span>
							</a>
						</p>
					</div>
				</section>
			</div>
		</div>

		<div class="u-bg-default u-pt-xxl">
			<div class="row-main">
				<section class="b-fb">
					<h2 class="b-fb__title">
						Učte se od profesionálů.
					</h2>
					<div class="b-fb__inner">
						<div class="b-fb__img">
							<img src="{{ assets.images }}illust/fb-group.jpg" alt="Ukázka příspěvku z facebookové skupiny Frontendisti.cz" loading="lazy">
						</div>
						<div class="b-fb__content">
							<p>
								Ptej se a sdílej svoje zkušenosti <br>
								v uzavřené FB skupině.
							</p>
							<p>
								<a class="btn" href="https://www.facebook.com/groups/frontendisti" target="_blank" rel="noopener noreferrer">
									<span class="btn__inner">
										Diskuze
									</span>
								</a>
							</p>
						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="u-bg-mint u-pt-xxl">
			<div class="row-main">
				<section class="b-job">
					<h2 class="b-job__title">
						Kdo hledá, najde.
					</h2>
					<div class="b-job__inner">
						<div class="b-job__content">
							<p>
								Hledáte práci nebo skvělé lidi <br>
								do&nbsp;týmu?
							</p>
							<p>
								<a class="btn btn--success" href="https://www.facebook.com/groups/frontendistiprace" target="_blank" rel="noopener noreferrer">
									<span class="btn__inner">
										Práce
									</span>
								</a>
							</p>
						</div>
						<div class="b-job__img">
							<img src="{{ assets.images }}illust/job.jpg" alt="Fotka Ježíše Krista se vzpaženýma rucema s tmavěmodrou oblohou v pozadí" loading="lazy">
						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="u-bg-tertiary u-pt-xxl">
			<div class="row-main">

				<section id="about" class="b-content u-mb-xxl">
					<h2 class="b-content__title">
						O nás
					</h2>
					<div class="u-max-width--6-12 u-mx-auto">
						<p>Spolek Frontendisti.cz má za cíl budovat a vzdělávát komunitu frontendových vývojářek a&nbsp;vývojářů.</p>

						<p>Organizační štáb Frontendisti.cz vznikl v roce 2014. Od té doby téměř každý měsíc pořádáme živý nebo streamovaný <a href="https://www.meetup.com/frontendisti/">meetup</a> v Praze, Brně a občas i jiných českých městech.</p>

						<p>Od roku 2020 prakticky každou akci streamujeme na YouTube. I díky tomu vzniklo už přes 250&nbsp;záznamů odborných přednášek, které jsou k dispozici zdarma celé komunitě na <a href="https://www.youtube.com/c/FrontendistiCz">YouTube</a>. O&nbsp;frontendu spolu můžeme diskutovat na <a href="https://www.facebook.com/groups/frontendisti/">Facebooku</a>, tamtéž pak spravujeme <a href="https://www.facebook.com/groups/frontendistiprace/">pracovní fórum</a>.</p>
					</div>
				</section>
			</div>
		</div>

		<div class="u-bg-mint u-pt-xxl">
			<div class="row-main">
				{% set partners = {
					items: [
						{
							name: 'emplifi',
							href: 'https://emplifi.io/',
							alt: 'Emplifi.io',
							width: '230',
							height: '71'
						},
						{
							name: 'artin',
							href: 'https://www.artin.cz/',
							alt: 'ARTIN',
							width: '230',
							height: '151'
						}
					]
				} %}

				{% set partners2 = {
					items: [
						{
							name: 'superkoders',
							href: 'https://superkoders.cz/',
							alt: 'SUPERKODERS',
							width: '330',
							height: '60'
						},
						{
							name: 'pipedrive',
							href: 'https://www.pipedrive.com/',
							alt: 'PIPEDRIVE',
							width: '200',
							height: '75'
						}
					]
				} %}
				{% include '@components/crossroad/partners.twig' %}
			</div>
		</div>

		<div class="u-bg-default u-pt-xxl">
			<div class="row-main">
				{% include '@components/crossroad/leaders.twig' %}
			</div>

			{% include '@templates/inc/newsletter.twig' %}

		</div>
	</main>
{% endblock %}
