{% extends '@layout/layout-conference.twig' %}
{% set pageTitle = 'Historicky prvn칤 캜esk치 frontendov치 konference' %}
{% set isHomepage = true %}

{% block content %}

	<main role="main" id="main" class="main-conf">

		<div class="u-bg-secondary u-pt-xxl">
			<div class="row-main">
				<section class="c-gallery c-gallery--program u-mb-xxl" id="program">
					<div class="u-mx-auto u-max-width--6-12">
						<h2 class="c-gallery__title section-anchor">
							Na koho se m콢쬰te t캩코it?
							<a href="#program" class="section-anchor__link section-anchor__link--program"> # </a>
						</h2>
					</div>
					<div class="c-gallery__list">
						{% set cards = [
							{
								imgSrc: 'bien.jpg',
								name: 'Jan
								Bien',
								title: 'Tailwind CSS:
								<span>framework, kter칳 zvl치dne ka쬯칳 grafick칳 n치vrh?</span>',
							},
							{
								imgSrc: 'sumlanska.jpg',
								name: 'Zuzana 맛mlansk치',
								title: 'Rychlost webu:
								nej캜ast캩j코칤 chyby, kter칠&nbsp;kaz칤 Web Vitals',
								company: 'SUPERKODERS'
							},
							{
								imgSrc: 'bernard.jpg',
								name: 'Borek Bernard',
								title: 'Pokro캜il치 pr치ce s&nbsp;Next.js:
								<span>hybridn칤 weby a modern칤 deployment</span>',
								company: 'Shoptet'
							},
							{
								imgSrc: 'fridrich.jpg',
								name: 'Riki
								Fridrich',
								title: 'ESLint je dobr칳 sluha,
								ale e코te lep코칤 p치n',
							},
							{
								imgSrc: 'zara-kopie.jpg',
								name: 'Ond콏ej 콯치ra',
								title: '10 novinek v CSS',
								company: 'Seznam'
							},
							{
								imgSrc: 'polesny.jpg',
								name: 'Ond콏ej Polesn칳',
								title: 'Co to je Vite a pro캜 u nechceme CommonJS?',
								company: 'Kentico'
							},
							{
								imgSrc: 'danisko.jpg',
								name: 'Filip Dani코ko',
								title: 'Design system pod taktovkou platformy',
								company: 'Productboard'
							},
							{
								imgSrc: 'dobes.jpg',
								name: 'Vojt캩ch Dobe코',
								title: 'Apollo + v칳hody s&nbsp;Typescriptem',
								company: 'ContentKing'
							},
							{
								imgSrc: 'kristof.jpg',
								name: 'Martin Kri코tof',
								title: 'React:
								Premature Performance Optimalization',
								company: 'Heureka Group'
							},
							{
								type: 'diskuze',
								imgSrc: 'hejc.jpg',
								name: 'Tom치코 Hej캜',
								title: ' JAMStack: Nov칳 sv캩t headless&nbsp;CMS',
								company: 'SUPERKODERS'
							},
							{
								imgSrc: 'fucik.jpg',
								name: 'Karel Fu캜칤k',
								title: 'Runtime validace pro&nbsp;Typescript pomoc칤 io&#8209;ts',
								company: 'SUPERKODERS'
							},
							{
								imgSrc: 'janosik.jpg',
								name: 'Ond콏ej J치no코칤k',
								title: 'Vue.js 3:
								stav ekosyst칠mu a&nbsp;v칳hled do&nbsp;budoucna',
								company: 'Notum'
							},
							{
								imgSrc: 'vyskocilova.jpg',
								name: 'Karol칤na
								Vysko캜ilov치',
								title: 'WordPress:
								Komponenty v&nbsp;Gutenbergu',
							},
							{
								imgSrc: 'vankova.jpg',
								name: 'Tereza
								Va켿kov치',
								title: 'Den juniorn칤 frontendistky',
							},
							{
								imgSrc: 'velas.jpg',
								name: 'Marek Velas',
								title: 'K칩d칤m doma a za캜칤n치 mi hrabat (z치klady mindfulness)',
								company: 'Edupunk'
							},
							{
								imgSrc: 'pavlicek.jpg',
								name: 'Radek
								Pavl칤캜ek',
								title: '7 (snadn칳ch) v캩c칤, kter칠 m콢쬰 frontendista ud캩lat pro&nbsp;lep코칤 p콏칤stupnost',
							},
						] %}
						{% for card in cards %}
							<div class="c-gallery__item">
								<article class="b-card b-card--program">
									<div class="b-card__inner">
										<div class="b-card__img">
											{% if card.imgSrc is defined and card.imgSrc is not empty %}
												<img src="{{ assets.images }}illust/{{ card.imgSrc }}" alt="Profilov치 fotografie - {{ card.name }}" width="174" height="174" loading="lazy">
											{% endif %}
										</div>
										<div class="b-card__content">
											<p class="b-card__type">
												{{card.type|default('p콏edn치코ka')}}
											</p>
											<h3 class="b-card__title">
												{{ card.title|raw|nl2br }}
											</h3>
											<p class="b-card__name">
												{{ card.name|raw|nl2br }}
											</p>
											{% if card.company %}
												<span class="b-card__company">
													{{ card.company }}
												</span>
											{% endif %}
										</div>
									</div>
								</article>
							</div>
						{% endfor %}
					</div>

					{# <div class="u-pt-md u-max-width--6-12 u-mx-auto">
						<p class="u-text-center">
							Na p콏칤prav캩 dal코칤ho programu st치le&nbsp;pracujeme. <br> Na prvn칤 캜esk칠 frontendov칠 konferenci uvid칤te t칠m캩콏 20&nbsp;p콏edn치코ek v&nbsp;코esti hodin치ch 캜asu.
						</p>
					</div> #}
				</section>
			</div>
		</div>

		<div class="u-bg-default">
			<div class="u-pt-xxl row-main">
				<div class="u-mx-auto u-max-width--6-12 u-mb-xxl">
					<h2>
						Konference bude online, ale ne&nbsp;nudn치.<br>
						P콏ij캞te se pobavit a&nbsp;dozv캩d캩t, co je v&nbsp;oboru nov칠ho.
					</h2>
				</div>
				<div class="u-mx-auto u-max-width--10-12 u-mb-xxl">
					<section class="c-icons u-mb-xxl">
						{% set items = [
							{ icon: 'presentation', title: 'p콏edn치코ky' },
							{ icon: 'discussion', title: 'moderovan칠 <br> diskuze' },
							{ icon: 'laptop-fun', title: 'z치bava' },
							{ icon: 'networking', title: 'networking' },
						] %}
						{% if items is defined and items is not empty %}
							<ul class="c-icons__list grid grid--center">
								{% for item in items %}
									<li class="c-icons__item grid__cell size--6-12 size--3-12@sm">
										<span class="icon">
											{% include '@components/core/icon-svg/icon-svg.twig' with {
												props: {
													name: item.icon
												}
											} %}
											<span class="icon__title">
												{{ item.title|raw }}
											</span>
										</span>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</section>
				</div>
				<section class="s-price u-mb-xxl">
					<div class="b-price">
						<h2 class="b-price__title">
							290 K캜
						</h2>
						<p class="b-price__desc">
							Sobota 29. kv캩tna 10:00 - 16:30.
							<span>
								V cen캩 vstupenky je z치znam konference.
							</span>
						</p>
						<p>
							<a href="https://form.simpleshop.cz/jArV/buy/" class="btn" target="_blank" rel="noopener noreferrer">
								<span class="btn__inner">
									Koupit
								</span>
							</a>
						</p>
					</div>
				</section>
			</div>
		</div>

		<div class="u-bg-mint u-color-dark-blue">
			<div class="u-pt-xxl row-main">
				<div class="u-mx-auto u-max-width--6-12 u-mb-xxl">
					<h2>
						Partne콏i konference
					</h2>
				</div>
				<div class="u-mx-auto u-max-width--10-12">
					<section class="c-sponzors u-mb-xl">
						{% set items = [
							{
								imgSrc: 'kentico-2.png',
								title: 'Kentico',
								width: '220',
								height: '70',
								href: 'https://www.kentico.com/',
								isFullWidth: true
							},
							{
								imgSrc: 'logo-contentking.svg',
								title: 'ContentKing',
								width: '150',
								height: '39',
								href: 'https://www.contentkingapp.com/',
							},
							{
								imgSrc: 'lmc.svg',
								title: 'LMC',
								width: '90',
								height: '60',
								href: 'https://www.lmc.eu/'
							},
							{
								imgSrc: 'pipedrive.png',
								title: 'Pipedrive',
								width: '150',
								height: '55',
								href: 'https://www.pipedrive.com/'
							},
						] %}
						{% if items is defined and items is not empty %}
							<ul class="c-sponzors__list grid grid--center grid--middle">
								{% for item in items %}
									<li class="c-sponzors__item grid__cell {% if not item.isFullWidth %}size--4-12@sm{% endif %}
									">
										<a class="c-sponzors__link" href="{{ item.href }}" target="_blank" rel="noopener noreferrer">
											<img src="{{ assets.images }}illust/{{ item.imgSrc }}" alt="Logo spole캜nosti {{ item.title }}" width="{{ item.width }}" height="{{ item.height }}" loading="lazy">
										</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</section>
				</div>
			</div>
		</div>

		<div class="u-bg-secondary">
			<div class="row-main">
				<section class="s-socials">
					<h2 class="u-vhide">
						P콏ipoj se k n치m skrz soci치ln칤 s칤te
					</h2>
					<div class="b-social-conf">
						<div class="b-social-conf__content">
							<div class="grid">
								<div class="grid__cell size--5-12@xl">
									<p>
										Sleduj, co je nov칠ho <br>
										na soci치ln칤ch s칤t칤ch.
									</p>
								</div>
								<div class="grid__cell size--auto@xl">
									<div class="grid">
										<div class="grid__cell size--auto">
											<a class="b-social-conf__link" href="https://www.facebook.com/groups/frontendisti" target="_blank" rel="noopener noreferrer">
												{% include "@images/bg/facebook.svg" %}
												<span class="u-vhide">
													Frontendisti na facebooku
												</span>
											</a>
										</div>
										<div class="grid__cell size--auto">
											<a class="b-social-conf__link" href="https://twitter.com/Frontendisti">
												{% include "@images/bg/twitter.svg" %}
												<span class="u-vhide">
													Frontendisti na twitteri
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="b-social-conf__gallery">
							{% for img in range(0, 17) %}
								<div class="b-social-conf__img">
									<img src="{{ assets.images }}illust/gallery-{{ loop.index }}.jpg" alt="" width="110" height="110" loading="lazy">
								</div>
							{% endfor %}
						</div>
					</div>
				</section>
			</div>
		</div>

		{#
			<section class="s-newsletter">
				<div class="b-newsletter">
					<div class="b-newsletter__inner">
						<div class="row-main">
							<div class="u-max-width--4-12 u-mx-auto">
								<form
									method="POST"
									action="/api/subscribe-from-conf"
									class="f-newsletter u-mb-md"
									data-handle-conf-submit
								>
									<input type="hidden" name="guid_mailing_list" value="57cd5588-4439-40ea-9f42-061d32322a33;">
									<h2 class="f-newsletter__title">
										P콏ihla코 se do <span class="u-color-red">{F}newsletteru</span> <br>
										a nic ti neute캜e!
									</h2>
									<p class="inp-fix">
										<label for="email" class="inp-label u-vhide">
											tv콢j e-mail
										</label>
										<input type="email" name="email" id="email" class="f-newsletter__inp inp-text" placeholder="tv콢j e-mail" autocomplete="e-mail" required>
									</p>
									<p>
										<button type="submit" name="subscribe" class="f-newsletter__btn btn btn--danger btn--loader" data-submit-button>
											<span class="btn__inner">
												<span class="btn__text">
													P콏ihl치sit
												</span>
												<span class="f-newsletter__icon checkmark">
													<svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="0 0 100 70">
														<polyline points="4 30 33 66 96 4" class="checkmark__line" />
													</svg>
												</span>
											</span>
										</button>
									</p>
									<p class="f-newsletter__hint">
										Hotovo! Zkontroluj svoji mailovku 游닏
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		 #}

		<div class="u-bg-default">
			<div class="row-main u-pt-xxl">
				<section class="s-organizators s-indent u-mb-lg">
					<div class="u-mx-auto u-max-width--6-12">
						<h2>
							Kontakt
						</h2>
						<div class="u-text-center u-mb-xxl">
							<p>
								V p콏칤pad캩 jak칳chkoliv dotaz콢 pi코te na <br>
								<a class="u-text-underline" href="mailto:konference@frontendisti.cz">konference@frontendisti.cz</a>
							</p>
						</div>
					</div>

					{% set dudes = [
						{
							imgSrc: 'hejc.jpg',
							title: 'Tom치코 Hej캜 <br> a t칳m <a href="http://www.superkoders.com/" target="_blank" rel="noopener noreferrer">SUPERKODERS</a>',
							desc: 'hlavn칤 organiz치tor',
							contact: 'tomas.hejc@frontendisti.cz',
						},
						{
							imgSrc: 'michalek.jpg',
							title: 'Martin Mich치lek',
							desc: 'koordin치tor programu',
							contact: 'martin.michalek@frontendisti.cz'
						},
						{
							imgSrc: 'proft.jpg',
							title: 'B콏etislav Proft',
							desc: 'p칠캜e o partnery',
							contact: 'bretislav.proft@frontendisti.cz'
						},
						{
							imgSrc: 'kolar.jpg',
							title: 'Martin Kol치콏',
							desc: 'technick칳 koordin치tor',
							contact: 'martin.kolar@frontendisti.cz'
						},
					] %}
					<div class="c-organizators u-mb-md">
						<ul class="c-organizators__list grid">
							{%- for dude in dudes -%}
								<li class="c-organizators__item grid__cell grid__cell--eq size--6-12@sm size--3-12@xl">
									<span class="b-organizator">
										<span class="b-organizator__img">
											<img src="{{ assets.images }}illust/{{ dude.imgSrc }}" alt="" width="230" height="185" loading="lazy">
										</span>
										<span class="b-organizator__title">
											{{ dude.title|raw }}
										</span>
										<span class="b-organizator__desc">
											{{ dude.desc }}
										</span>
										<a class="b-organizator__btn" href="mailto:{{ dude.contact }}">
											{{ dude.contact }}
										</a>
									</span>
								</li>
							{%- endfor -%}
						</ul>
					</div>
				</section>
			</div>
		</div>
	</main>

{% endblock %}
