{% extends '@layout/layout-conference.twig' %}
{% set pageTitle = 'FrontKon - konference komunity' %}
{% set isHomepage = true %}

{% block content %}

	<main id="main" class="main-conf">





		<div class="u-bg-default">
			<div class="u-pt-xxl row-main">
				<div class="u-mx-auto u-max-width--6-12 u-mb-xxl">
					<h2 class="u-mb-md">
						První celodenní živá konference komunity Frontendisti.cz.<br>
						Přijďte se pobavit a&nbsp;dozvědět, co je v&nbsp;oboru nového.
					</h2>

					<p>
						1 den, 2 přednáškové sály, kolem 20 přednášek, 400 účastníků.<br>
						12. října 2023, <a href="https://www.qualityhotelbrnoexhibitioncentre.com/cs/konference/" target="_blank">Quality Hotel Brno</a>.<br>
						Předběžný čas: 10:00 - 19:00. Po akci bude (doufejme) afterparty v okolí hotelu.
					</p>
				</div>
				<div class="u-mx-auto u-max-width--10-12 u-mb-xxl">
					<section class="c-icons u-mb-xxl">
						{% set items = [
							{ icon: 'presentation', title: 'přednášky' },
							{ icon: 'discussion', title: 'moderované <br> diskuze' },
							{ icon: 'laptop-fun', title: 'zábava' },
							{ icon: 'networking', title: 'networking' },
						] %}
						{% if items is defined and items is not empty %}
							<ul class="c-icons__list grid grid--center">
								{% for item in items %}
									<li class="c-icons__item grid__cell size--6-12 size--3-12@sm">
										<span class="icon">
											{% include '@components/core/icon-svg/icon-svg.twig' with {
												props: {
													name: item.icon
												}
											} %}
											<span class="icon__title">
												{{ item.title|raw }}
											</span>
										</span>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</section>
				</div>

				<section class="s-price u-mb-xxl">
					<div class="b-price">
						<h2 class="b-price__title">
							1 190 Kč
						</h2>
						<p class="b-price__desc">
							cena vstupenky
						</p>
						<p>
							<a href="https://form.simpleshop.cz/AQBX/buy/" class="btn" target="_blank" rel="noopener noreferrer">
								<span class="btn__inner">
									Koupit vstupenku
								</span>
							</a>
						</p>
					</div>
				</section>

			</div>
		</div>

		<div class="u-bg-secondary u-pt-xxl">
			<div class="row-main">
				<section class="c-gallery c-gallery--program u-mb-xxl" id="program">
					<div class="u-mx-auto u-max-width--6-12">
						<h2 class="c-gallery__title section-anchor">
							Na koho se můžete těšit?
							<a href="#program" class="section-anchor__link section-anchor__link--program"> # </a>
						</h2>
					</div>
					<div class="c-gallery__list">
						{% set cards = [
							{
								type: 'přednáška',
								imgSrc: 'david.jpg',
								name: 'David Grudl',
								title: 'AI: bublina nebo revoluce?',
								endpoint: '../ajax/david-grudl.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'ondrej.jpg',
								name: 'Ondřej Žára',
								title: 'Web Components v praxi',
								endpoint: '../ajax/ondrej-zara.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'riki.jpg',
								name: 'Riki Fridrich',
								title: 'Typescript bez Typescriptu',
								endpoint: '../ajax/riki-fridrich.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'terka.jpg',
								name: 'Tereza Vaňková',
								title: 'Novinky ve Storybooku',
								endpoint: '../ajax/tereza-vankova.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'borek.jpg',
								name: 'Borek Bernard',
								title: 'Přechod z PHP na Next',
								endpoint: '../ajax/borek-bernard.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'honza.jpg',
								name: 'Honza Sládek',
								title: 'OpenAI a jiné AI API',
								endpoint: '../ajax/honza-sladek.html',
							},

							{
								type: 'přednáška',
								imgSrc: 'filip-mares.jpg',
								name: 'Filip Mareš',
								title: 'Lepší Developer Experience s pomocí Nx',
								endpoint: '../ajax/filip-mares.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'hana-klingova.jpg',
								name: 'Hana Klingová',
								title: 'Copilot: zbraň pro pohodlné programátory',
								endpoint: '../ajax/hana-klingova.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'honza-hruby.jpg',
								name: 'Honza Hrubý',
								title: 'Webpack… a dál?',
								endpoint: '../ajax/honza-hruby.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'honza-javorek.jpg',
								name: 'Honza Javorek',
								title: 'Junior jako investice: Proč je mít v týmu a jak je zaučovat',
								endpoint: '../ajax/honza-javorek.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'jakub-senk.jpg',
								name: 'Jakub Šenk',
								title: 'Jak se nezabít při práci s designérem 2.0',
								endpoint: '../ajax/jakub-senk.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'jan-kanajlo.jpg',
								name: 'Jan Kanajlo',
								title: 'Cloudflare Workery jako řešení pro AB test a přepínání na mikrofrontend platformu',
								endpoint: '../ajax/jan-kanajlo.html',
							},

							{
								type: 'přednáška',
								imgSrc: 'jan-sverak.jpg',
								name: 'Jan Svěrák',
								title: 'Přišel čas na čisté CSS?',
								endpoint: '../ajax/jan-sverak.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'katerina-n-volakova.jpg',
								name: 'Kateřina N. Voláková',
								title: 'Container Queries vs. Media Queries',
								endpoint: '../ajax/katerina-n-volakova.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'marta-kirchgessner.jpg',
								name: 'Marta Kirchgessner',
								title: 'Dev Fiction: Junioři a realita vývojářského týmu',
								endpoint: '../ajax/marta-kirchgessner.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'martin-brychta.jpg',
								name: 'Martin Brychta',
								title: 'Vercel: All-in-One platforma pro váš příští projekt',
								endpoint: '../ajax/martin-brychta.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'martin-kopta.jpg',
								name: 'Martin Kopta',
								title: 'Modely místo high-fidelity návrhů UI',
								endpoint: '../ajax/martin-kopta.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'martin-machacek.jpg',
								name: 'Martin Macháček',
								title: 'Estimace projektů - proč jsou vždycky špatně, a jak je zlepšit?',
								endpoint: '../ajax/martin-machacek.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'michaela-rudolfova.jpg',
								name: 'Michaela Rudolfová',
								title: 'Web Accessibility - lepší uživatelský zážitek pro všechny!',
								endpoint: '../ajax/michaela-rudolfova.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'michal-matuska.jpg',
								name: 'Michal Matuška',
								title: 'DevTools: Švýcarský nožík vývojáře',
								endpoint: '../ajax/michal-matuska.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'milan-holes.jpg',
								name: 'Milan Holeš',
								title: 'Module Federation: Teória vs Prax',
								endpoint: '../ajax/milan-holes.html',
							},

							{
								type: 'přednáška',
								imgSrc: 'ondrej-kucera.jpg',
								name: 'Ondřej Kučera',
								title: 'Pozorování webových mutací',
								endpoint: '../ajax/ondrej-kucera.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'petr-buchbauer.jpg',
								name: 'Petr Buchbauer',
								title: 'Jak si udržet mentální zdraví v post-covid době',
								endpoint: '../ajax/petr-buchbauer.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'roman-yablko-hraska.jpg',
								name: 'Roman “yablko” Hraška',
								title: 'Ako získať prvý job v IT?',
								endpoint: '../ajax/roman-yablko-hraska.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'vojtech-lank.jpg',
								name: 'Vojtěch Lank',
								title: 'SSR React s Islands architecture v praxi',
								endpoint: '../ajax/vojtech-lank.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'zuzana-sumlanska.jpg',
								name: 'Zuzana Šumlanská',
								title: 'Pohled pod pokličku nové metriky INP',
								endpoint: '../ajax/zuzana-sumlanska.html',
							},

						] %}
						{% for card in cards %}

							<div class="c-gallery__item">
								<article class="b-card b-card--program">
									<div class="b-card__inner">
										<div class="b-card__content">
											<p class="b-card__type">
												{{card.type|default('přednáška')}}
											</p>
											<h3 class="b-card__title">
												{{ card.title|raw|nl2br }}
											</h3>
											<div class="b-card__row">
												<div class="b-card__info">
													<p class="b-card__name">
														{{ card.name|raw|nl2br }}
													</p>
													{% if card.company %}
														<span class="b-card__company">
															{{ card.company }}
														</span>
													{% endif %}
												</div>
												{% if card.endpoint %}
													<a href="{{ card.endpoint }}" class="b-card__link link-mask" data-modal='{"medium": "fetch"}'>
														{% include '@components/core/icon-svg/icon-svg.twig' with {
															props: {
																name: 'chevron-right',
																alt: 'Přejít na detail'
															}
														} %}
													</a>
												{% endif %}

											</div>
										</div>
										<div class="b-card__img">
											{% if card.imgSrc is defined and card.imgSrc is not empty %}
												<img src="/img/frontkon/{{ card.imgSrc }}" alt="{{ card.title }}" width="150" height="180" loading="lazy">
											{% endif %}
										</div>
									</div>
								</article>
							</div>
						{% endfor %}
					</div>

					{# <div class="u-pt-md u-max-width--6-12 u-mx-auto">
						<p class="u-text-center">
							Na přípravě dalšího programu stále&nbsp;pracujeme. <br> Na první české frontendové konferenci uvidíte téměř 20&nbsp;přednášek v&nbsp;šesti hodinách času.
						</p>
					</div> #}
				</section>
			</div>
		</div>



		<div class="u-bg-mint u-color-dark-blue">
			<div class="row-main u-pt-xxl">
				<div class="u-max-width--6-12 u-mx-auto">
					<section class="u-mb-xxl">
						<div class="b-content">
							<h2 class="u-mb-lg">Program? <br>Aktuálně na něm pracujeme.</h2>


						</div>
					</section>
				</div>
			</div>
		</div>

		<div class="u-bg-default">
			<div class="u-pt-xxl row-main">
				<div class="u-mx-auto u-max-width--6-12 u-mb-xxl">
					<h2>
						Partneři konference
					</h2>
				</div>
				<div class="u-mx-auto u-max-width--10-12">
					<section class="c-sponzors c-sponzors--main u-mb-xxl">
						{% set items = [
							{
								imgSrc: 'mews.png',
								title: 'MEWS',
								width: '460',
								height: '59',
								href: 'https://www.mews.com/',
								isFullWidth: true
							},
							{
								imgSrc: 'ataccama.svg',
								title: 'Ataccama',
								width: '280',
								href: 'https://www.ataccama.com/',
							},
							{
								imgSrc: 'cdn77.svg',
								title: 'CDN77',
								width: '250',
								href: 'https://www.cdn77.com/',
							},
							{
								imgSrc: 'heureka-group.svg',
								title: 'Heureka Group',
								width: '250',
								href: 'https://heureka.group/',
							},
							{
								imgSrc: 'outreach.svg',
								title: 'Outreach',
								width: '250',
								href: 'https://www.outreach.io/'
							},
							{
								imgSrc: 'pux.svg',
								title: 'puxdesign',
								width: '250',
								href: 'https://www.puxdesign.cz/'
							},
							{
								imgSrc: 'superkoders.svg',
								title: 'SUPERKODERS',
								width: '300',
								href: 'https://superkoders.com/'
							},
						] %}
						{% if items is defined and items is not empty %}
							<ul class="c-sponzors__list grid grid--center grid--middle">
								{% for item in items %}
									<li class="c-sponzors__item grid__cell {% if not item.isFullWidth %}size--4-12@sm{% endif %}
									">
										<a class="c-sponzors__link" href="{{ item.href }}" target="_blank" rel="noopener noreferrer">
											<img src="{{ assets.images }}frontkon/partners/{{ item.imgSrc }}" alt="Logo společnosti {{ item.title }}" width="{{ item.width }}" height="{{ item.height }}" loading="lazy">
										</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</section>
				</div>

			</div>
		</div>

		<div class="u-bg-secondary">
			<div class="row-main">
				<section class="s-socials">
					<h2 class="u-vhide">
						Připoj se k nám skrz sociální síte
					</h2>
					<div class="b-social-conf">
						<div class="b-social-conf__content">
							<div class="grid">
								<div class="grid__cell size--5-12@xl">
									<p>
										Sleduj, co je nového <br>
										na sociálních sítích.
									</p>
								</div>
								<div class="grid__cell size--auto@xl">
									<div class="grid">
										<div class="grid__cell size--auto">
											<a class="b-social-conf__link" href="https://www.facebook.com/groups/frontendisti" target="_blank" rel="noopener noreferrer">
												{% include "@images/bg/facebook.svg" %}
												<span class="u-vhide">
													Frontendisti na facebooku
												</span>
											</a>
										</div>
										<div class="grid__cell size--auto">
											<a class="b-social-conf__link" href="https://twitter.com/Frontendisti">
												{% include "@images/bg/twitter.svg" %}
												<span class="u-vhide">
													Frontendisti na twitteri
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="b-social-conf__gallery">
							{% for img in range(0, 17) %}
								<div class="b-social-conf__img">
									<img src="{{ assets.images }}illust/gallery-{{ loop.index }}.jpg" alt="" width="110" height="110" loading="lazy">
								</div>
							{% endfor %}
						</div>
					</div>
				</section>
			</div>
		</div>




		<div class="u-bg-default">
			<div class="row-main u-pt-xxl">
				<section class="s-organizators s-indent u-mb-lg">
					<div class="u-mx-auto u-max-width--6-12">
						<h2>
							Kontakt
						</h2>
						<div class="u-text-center u-mb-xxl">
							<p>
								V případě jakýchkoliv dotazů pište na <br>
								<a class="u-text-underline" href="mailto:konference@frontendisti.cz">konference@frontendisti.cz</a>
							</p>
						</div>
					</div>


				</section>
			</div>
		</div>
	</main>

{% endblock %}
