{% extends '@layout/layout-conference.twig' %}
{% set pageTitle = 'FrontKon - konference komunity' %}
{% set isHomepage = true %}

{% block content %}

	<main id="main">


		<h1 class="u-vhide">FrontKon 2023</h1>


		<div class="u-bg-default">
			<div class="u-pt-xxl row-main">
				<div class="menu">
					<nav id="menu-main" class="m-main" aria-label="Hlavní menu" aria-expanded="false">
						<ul class="m-main__list">
							{% set items = [
								{ title: 'Úvod', href: '#' },
								{ title: 'Vstupenky', href: '#tickets' },
								{ title: 'Přednášející', href: '#speakers' },
								{ title: 'Program', href: '#schedule' },
								{ title: 'FAQ', href: '#faq' },
								{ title: 'Kontakt', href: '#contact' },
							] %}
							{% for item in items %}
								<li class="m-main__item{% if item.isHiddenOnDesktop %} is-highlighted{% endif %}{% if item.isHiddenOnDesktop %} u-hide@md{% endif %}">
									<a href="{{ item.href }}" class="m-main__link">
										{{ item.title|raw }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</nav>
					<button class="menu__btn btn btn--transparent" data-menu-btn>
						<span class="btn__inner">
							<svg class="hamburger" viewBox="0 0 100 100" width="50">
								<path class="line line--top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
								<path class="line line--middle" d="m 30,49 h 40" />
								<path class="line line--bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
							</svg>
						</span>
					</button>
				</div>

				<div class="u-mx-auto u-max-width--6-12 u-mb-xxl">
					<h2 class="u-mb-md">
						První celodenní živá konference komunity Frontendisti.cz.<br>
						Přijďte se pobavit a&nbsp;dozvědět, co je v&nbsp;oboru nového.
					</h2>

					<p>
						1 den, 2 přednáškové sály, kolem 30 přednášek, 400 účastníků.<br>
						12. října 2023, <a href="https://www.qualityhotelbrnoexhibitioncentre.com/cs/konference/" target="_blank">Quality Hotel Brno</a>.<br>
						Čas: 10:00 - 18:00
					</p>
				</div>
				<div class="u-mx-auto u-max-width--10-12 u-mb-xxl">
					<section class="c-icons u-mb-xxl">
						{% set items = [
							{ icon: 'presentation', title: 'přednášky' },
							{ icon: 'discussion', title: 'moderované <br> diskuze' },
							{ icon: 'laptop-fun', title: 'zábava' },
							{ icon: 'networking', title: 'networking' },
						] %}
						{% if items is defined and items is not empty %}
							<ul class="c-icons__list grid grid--center">
								{% for item in items %}
									<li class="c-icons__item grid__cell size--6-12 size--3-12@sm">
										<span class="icon">
											{% include '@components/core/icon-svg/icon-svg.twig' with {
												props: {
													name: item.icon
												}
											} %}
											<span class="icon__title">
												{{ item.title|raw }}
											</span>
										</span>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</section>
				</div>

				<section class="s-price u-mb-xxl" id="tickets">
					<div class="b-price">
						<h2 class="b-price__title">
							Vyprodáno
						</h2>
					</div>
				</section>

			</div>
		</div>

		<div class="u-bg-secondary u-pt-xxl" id="speakers">
			<div class="row-main">
				<section class="c-gallery c-gallery--program u-mb-xxl">
					<div class="u-mx-auto u-max-width--6-12">
						<h2 class="c-gallery__title section-anchor">
							Na koho se můžete těšit?
							<a href="#speakers" class="section-anchor__link section-anchor__link--program"> # </a>
						</h2>
					</div>
					<div class="c-gallery__list">
						{% set cards = [
							{
								type: 'přednáška',
								imgSrc: 'david.jpg',
								name: 'David Grudl',
								title: 'AI: bublina nebo revoluce?',
								endpoint: '../ajax/david-grudl.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'ondrej.jpg',
								name: 'Ondřej Žára',
								title: 'Web Components v praxi',
								endpoint: '../ajax/ondrej-zara.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'riki.jpg',
								name: 'Riki Fridrich',
								title: 'Typescript bez Typescriptu',
								endpoint: '../ajax/riki-fridrich.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'terka.jpg',
								name: 'Tereza Vaňková',
								title: 'Novinky ve Storybooku',
								endpoint: '../ajax/tereza-vankova.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'borek.jpg',
								name: 'Borek Bernard',
								title: 'Z PHP šablon na Next.js: příběhy ze zákopů',
								endpoint: '../ajax/borek-bernard.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'honza.jpg',
								name: 'Honza Sládek',
								title: 'AI jako API v reálné praxi',
								endpoint: '../ajax/honza-sladek.html',
							},

							{
								type: 'přednáška',
								imgSrc: 'adam-kudrna.jpg',
								name: 'Adam Kudrna',
								title: 'Design systém 1.0',
								endpoint: '../ajax/adam-kudrna.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'filip-mares.jpg',
								name: 'Filip Mareš',
								title: 'Lepší Developer Experience s pomocí Nx',
								endpoint: '../ajax/filip-mares.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'hana-klingova.jpg',
								name: 'Hana Klingová',
								title: 'Copilot: zbraň pro pohodlné programátory',
								endpoint: '../ajax/hana-klingova.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'honza-hruby.jpg',
								name: 'Honza Hrubý',
								title: 'Webpack… a dál?',
								endpoint: '../ajax/honza-hruby.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'honza-javorek.jpg',
								name: 'Honza Javorek',
								title: 'Junior jako investice: Proč je mít v týmu a jak je zaučovat',
								endpoint: '../ajax/honza-javorek.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'jakub-senk.jpg',
								name: 'Jakub Šenk',
								title: 'Jak se nezabít při práci s designérem 2.0',
								endpoint: '../ajax/jakub-senk.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'jan-kanajlo.jpg',
								name: 'Jan Kanajlo',
								title: 'Cloudflare Workery jako řešení pro AB test a přepínání na mikrofrontend platformu',
								endpoint: '../ajax/jan-kanajlo.html',
							},

							{
								type: 'přednáška',
								imgSrc: 'jan-sverak.jpg',
								name: 'Jan Svěrák',
								title: 'Přišel čas na čisté CSS?',
								endpoint: '../ajax/jan-sverak.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'katerina-n-volakova.jpg',
								name: 'Kateřina N. Voláková',
								title: 'Container Queries vs. Media Queries',
								endpoint: '../ajax/katerina-n-volakova.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'libor-vanek.jpg',
								name: 'Libor Vaněk',
								title: 'Současný stav frontendu, aneb „Možná že nepotřebujete React”',
								endpoint: '../ajax/libor-vanek.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'marta-kirchgessner.jpg',
								name: 'Marta Kirchgessner',
								title: 'Dev Fiction: Junioři a realita vývojářského týmu',
								endpoint: '../ajax/marta-kirchgessner.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'martin-brychta.jpg',
								name: 'Martin Brychta',
								title: 'Vercel: All-in-One platforma pro váš příští projekt',
								endpoint: '../ajax/martin-brychta.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'martin-kopta.jpg',
								name: 'Martin Kopta',
								title: 'Modely místo high-fidelity návrhů UI',
								endpoint: '../ajax/martin-kopta.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'martin-machacek.jpg',
								name: 'Martin Macháček',
								title: 'Estimace projektů - proč jsou vždycky špatně, a jak je zlepšit?',
								endpoint: '../ajax/martin-machacek.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'michaela-rudolfova.jpg',
								name: 'Michaela Rudolfová',
								title: 'Web Accessibility - lepší uživatelský zážitek pro všechny!',
								endpoint: '../ajax/michaela-rudolfova.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'michal-matuska.jpg',
								name: 'Michal Matuška',
								title: 'DevTools: Švýcarský nožík vývojáře',
								endpoint: '../ajax/michal-matuska.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'milan-holes.jpg',
								name: 'Milan Holeš',
								title: 'Module Federation: Teória vs Prax',
								endpoint: '../ajax/milan-holes.html',
							},

							{
								type: 'přednáška',
								imgSrc: 'ondrej-kucera.jpg',
								name: 'Ondřej Kučera',
								title: 'Pozorování webových mutací',
								endpoint: '../ajax/ondrej-kucera.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'petr-buchbauer.jpg',
								name: 'Petr Buchbauer',
								title: 'Jak si udržet mentální zdraví v post-covid době',
								endpoint: '../ajax/petr-buchbauer.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'roman-yablko-hraska.jpg',
								name: 'Roman “yablko” Hraška',
								title: 'Ako získať prvý job v IT?',
								endpoint: '../ajax/roman-yablko-hraska.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'vojtech-lank.jpg',
								name: 'Vojtěch Lank',
								title: 'SSR React s Islands architecture v praxi',
								endpoint: '../ajax/vojtech-lank.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'tomas-pustelnik.jpg',
								name: 'Tomáš Pustelník',
								title: 'Za záhadami flexboxu: Proč to nedělá, co chci?',
								endpoint: '../ajax/tomas-pustelnik.html',
							},
							{
								type: 'přednáška',
								imgSrc: 'zuzana-sumlanska.jpg',
								name: 'Zuzana Šumlanská',
								title: 'Pohled pod pokličku nové metriky INP',
								endpoint: '../ajax/zuzana-sumlanska.html',
							},
							{
								type: 'přednáška',
								imgSrc: '',
								name: 'Marek Velas a Petra Kubita Nulíčková',
								title: 'Růst ve frontendu: osobní a technický rozvoj ruku v ruce',
								endpoint: '../ajax/velas-nulickova.html',
							},


							{
								type: 'partnerská stage',
								imgSrc: 'tomas-belada.jpg',
								name: 'Tomáš Belada',
								title: 'Od malého k velkému: Jak škálovat a vést komunitu vývojářů.',
								endpoint: '../ajax/tomas-belada.html',
							},
							{
								type: 'partnerská stage',
								imgSrc: 'martin-kristof.jpg',
								name: 'Martin Krištof',
								title: 'Jak využít sílu společné práce? Heureka! Mobbing, pairing, hackathons',
								endpoint: '../ajax/martin-kristof.html',
							},
							{
								type: 'partnerská stage',
								imgSrc: 'jakub-miskech.jpg',
								name: 'Jakub Miškech',
								title: 'React performance Tips&Tricks',
								endpoint: '../ajax/jakub-miskech.html',
							},
							{
								type: 'partnerská stage',
								name: 'Jakub Šalmík a Jakub Tkadleček',
								title: 'Han(g)dover - Pařba ve Figmě',
								endpoint: '../ajax/salmik-tkadlecek.html',
							},
							{
								type: 'partnerská stage',
								name: 'Jenda Horák a Libor Vaněk',
								title: 'Praktický úvod do cachování',
								endpoint: '../ajax/horak-vanek.html',
							},
							{
								type: 'partnerská stage',
								name: 'Kryštof Klaban a Kuba Petrjanoš',
								title: 'Vite, jako moderní náhrada Gulp pro webový vývoj',
								endpoint: '../ajax/krystof-klaban.html',
							},

						] %}

						{#
						{
								type: 'přednáška',
								imgSrc: 'georgy-marchuk.jpg',
								name: 'Georgy Marchuk',
								title: 'Developer efektivita nemusí být běh na dlouho trať',
								endpoint: '../ajax/georgy-marchuk.html',
							},
						#}
						{% for card in cards %}

							<div class="c-gallery__item">
								<article class="b-card b-card--program">
									<div class="b-card__inner">
										<div class="b-card__content">
											<p class="b-card__type">
												{{card.type|default('přednáška')}}
											</p>
											<h3 class="b-card__title">
												{{ card.title|raw|nl2br }}
											</h3>
											<div class="b-card__row">
												<div class="b-card__info">
													<p class="b-card__name">
														{{ card.name|raw|nl2br }}
													</p>
													{% if card.company %}
														<span class="b-card__company">
															{{ card.company }}
														</span>
													{% endif %}
												</div>
												{% if card.endpoint %}
													<a href="{{ card.endpoint }}" class="b-card__link link-mask" data-modal='{"medium": "fetch"}'>
														{% include '@components/core/icon-svg/icon-svg.twig' with {
															props: {
																name: 'chevron-right',
																alt: 'Přejít na detail'
															}
														} %}
													</a>
												{% endif %}

											</div>
										</div>
										{% if card.imgSrc is defined and card.imgSrc is not empty %}
										<div class="b-card__img">
											<img src="/img/frontkon/{{ card.imgSrc }}" alt="{{ card.title }}" width="150" height="180" loading="lazy">
										</div>
										{% endif %}
									</div>
								</article>
							</div>
						{% endfor %}
					</div>

					{# <div class="u-pt-md u-max-width--6-12 u-mx-auto">
						<p class="u-text-center">
							Na přípravě dalšího programu stále&nbsp;pracujeme. <br> Na první české frontendové konferenci uvidíte téměř 20&nbsp;přednášek v&nbsp;šesti hodinách času.
						</p>
					</div> #}
				</section>
			</div>
		</div>


		<section class="s-shedule" id="schedule">
			<div class="row-main">
				<div class="u-mx-auto u-max-width--6-12">
					<h2 class="s-shedule__title section-anchor">
						Program
						<a href="#schedule" class="section-anchor__link section-anchor__link--program"> # </a>
					</h2>
				</div>
				<div class="u-max-width--10-12 u-mx-auto">
					<div class="s-shedule__wrap">
						<div class="s-shedule__main">
							<table class="b-shedule">
								<thead>
								<tr>
									<th scope="col">

									</th>
									<th scope="col" style="width: 30%">
										Stage F
									</th>
									<th scope="col" style="width: 30%">
										Stage E
									</th>
									<th scope="col" style="width: 30%">
										Partnerská stage
									</th>
								</tr>
								</thead>
								<tbody class="b-shedule__list">
								{% set items = [
									{
										isHighlighted: true,
										time: '9:00',
										title: 'Konference otevřena',
									},
									{
										time: '10:00',
										twostages: true,
										fstage: {
											items: [
												{
													time: '10:00',
													name: 'Martin Michálek',
													title: 'Keynote',
												}
											]
										},
									},
									{
										time: '',
										fstage: {
											items: [
												{
													time: '10:10',
													name: 'Ondřej Žára',
													title: 'Web Components v praxi',
													endpoint: '../ajax/ondrej-zara.html',
												}
											]
										},
										estage: {
											items: [
												{
													time: '10:10',
													name: 'Michal Matuška',
													title: 'DevTools: Švýcarský nožík vývojáře',
													endpoint: '../ajax/michal-matuska.html',
												},
												{
													time: '10:35',
													name: 'Honza Hrubý',
													title: 'Webpack...a dál?',
													endpoint: '../ajax/honza-hruby.html',
												}
											]
										},
									},
									{
										time: '11:00',
										fstage: {
											items: [
												{
													time: '11:00',
													name: 'Martin Brychta',
													title: 'Vercel: All-in-One platforma pro váš příští projekt',
													endpoint: '../ajax/martin-brychta.html',
												},
												{
													time: '11:20',
													name: 'Borek Bernard',
													title: 'Z PHP šablon na Next.js: příběhy ze zákopů',
													endpoint: '../ajax/borek-bernard.html',
												}
											]
										},
										estage: {
											items: [
												{
													time: '11:00',
													name: 'Michaela Rudolfová',
													title: 'Web Accessibility - lepší uživatelský zážitek pro všechny!',
													endpoint: '../ajax/michaela-rudolfova.html',
												},
												{
													time: '11:25',
													name: 'Marek Velas a Petra Kubita Nulíčková',
													title: 'Růst ve frontendu: osobní a technický rozvoj ruku v ruce',
													endpoint: '../ajax/velas-nulickova.html',
												}
											]
										},
										partners: {
											items: [
												{
													time: '11:10',
													name: 'Tomáš Belada',
													company: 'Ataccama',
													title: 'Od malého k velkému: Jak škálovat a&nbsp;vést komunitu vývojářů.',
													endpoint: '../ajax/tomas-belada.html',
												},
											]
										},
									},
									{
										time: '12:00',
										fstage: {
											items: [
												{
													time: '12:00',
													heading: 'stand-up',
													title: 'Pavel Tomeš',
												},
												{
													time: '12:25',
													name: 'Filip Mareš',
													title: 'Lepší Developer Experience s pomocí Nx',
													endpoint: '../ajax/filip-mares.html',
												}
											]
										},
										estage: {
											items: [
												{
													time: '12:00',
													name: 'Petr Buchbauer',
													title: 'Jak si udržet mentální zdraví v post-covid době',
													endpoint: '../ajax/petr-buchbauer.html',
												},
												{
													time: '12:25',
													name: 'Yablko (Roman Hraška)',
													title: 'Ako získať prvý job v IT?',
													endpoint: '../ajax/roman-yablko-hraska.html',
												}
											]
										},
										partners: {
											items: [
												{
													time: '12:10',
													name: 'Kryštof Klaban a Kuba Petrjanoš',
													company: 'PUXdesign',
													title: 'Vite, jako moderní náhrada Gulp pro webový vývoj',
													endpoint: '../ajax/krystof-klaban.html',
												},
											]
										},
									},
									{
										time: '13:00',
										fstage: {
											items: [
												{
													time: '13:00',
													name: 'Jan Kanajlo',
													title: 'Cloudflare Workery jako řešení pro AB test a přepínání na mikrofrontend platformu',
													endpoint: '../ajax/jan-kanajlo.html',
												},
												{
													time: '13:25',
													name: 'Vojtěch Lank',
													title: 'SSR React s Islands architecture v praxi',
													endpoint: '../ajax/vojtech-lank.html',
												}
											]
										},
										estage: {
											items: [
												{
													time: '13:00',
													name: 'Honza Javorek',
													title: 'Junior jako investice: Proč je mít v týmu a jak je zaučovat',
													endpoint: '../ajax/honza-javorek.html',
												},
												{
													time: '13:10',
													name: 'Marta Kirchgessner',
													title: 'Dev Fiction: Junioři a realita vývojářského týmu',
													endpoint: '../ajax/marta-kirchgessner.html',
												},
												{
													time: '13:15',
													heading: 'diskuze',
													name: 'Honza Javorek, Marta Kirchgessner, Yablko (Roman Hraška), moderuje Jana Nečasová',
													title: 'Junioři ve světě frontendu',
													endpoint: '../ajax/diskuze-juniori.html',
												}
											]
										},
										partners: {
											items: [
												{
													time: '13:10',
													name: 'Jenda Horák a Libor Vaněk',
													company: 'CDN77',
													title: 'Praktický úvod do cachování',
													endpoint: '../ajax/horak-vanek.html',
												},
											]
										},
									},

									{
										time: '14:00',
										fstage: {
											items: [
												{
													time: '14:00',
													name: 'Hana Klingová',
													title: 'Copilot: zbraň pro pohodlné programátory',
													endpoint: '../ajax/hana-klingova.html',
												},
												{
													time: '14:15',
													name: 'David Grudl',
													title: 'AI: bublina nebo revoluce?',
													endpoint: '../ajax/david-grudl.html',
												}
											]
										},
										estage: {
											items: [
												{
													time: '14:00',
													name: 'Jakub Šenk',
													title: 'Jak se nezabít při práci s designérem 2.0',
													endpoint: '../ajax/jakub-senk.html',
												},
												{
													time: '14:25',
													name: 'Martin Kopta',
													title: 'Modely místo high-fidelity návrhů UI',
													endpoint: '../ajax/martin-kopta.html',
												},
												{
													time: '14:40',
													name: 'Tomáš Pustelník',
													title: 'Za záhadami flexboxu: Proč to nedělá, co chci?',
													endpoint: '../ajax/tomas-pustelnik.html',
												},
											]
										},
										partners: {
											items: [
												{
													time: '14:10',
													name: 'Jakub Miškech',
													company: 'Outreach',
													title: 'React performance Tips&Tricks',
													endpoint: '../ajax/jakub-miskech.html',
												},
											]
										},
									},

									{
										time: '15:00',
										fstage: {
											items: [
												{
													time: '15:00',
													name: 'Honza Sládek',
													title: 'AI jako API v reálné praxi',
													endpoint: '../ajax/honza-sladek.html',
												},
												{
													time: '15:35',
													name: 'Martin Macháček',
													title: 'Estimace projektů - proč jsou vždycky špatně, a jak je zlepšit?',
													endpoint: '../ajax/martin-machacek.html',
												}
											]
										},
										estage: {
											items: [
												{
													time: '15:00',
													name: 'Zuzana Šumlanská',
													title: 'Pohled pod pokličku nové metriky INP',
													endpoint: '../ajax/zuzana-sumlanska.html',
												},
												{
													time: '15:25',
													name: 'Milan Holeš',
													title: 'Module Federation',
													endpoint: '../ajax/milan-holes.html',
												},
											]
										},
										partners: {
											items: [
												{
													time: '15:10',
													name: 'Jakub Šalmík a Jakub Tkadleček',
													company: 'MEWS',
													title: 'Han(g)dover - Pařba ve Figmě',
													endpoint: '../ajax/salmik-tkadlecek.html',
												},
											]
										},
									},

									{
										time: '16:00',
										fstage: {
											items: [
												{
													time: '16:00',
													name: 'Riki Fridrich',
													title: 'Typescript bez Typescriptu',
													endpoint: '../ajax/riki-fridrich.html',
												},
												{
													time: '16:35',
													name: 'Ondřej Kučera',
													title: 'Pozorování webových mutací',
													endpoint: '../ajax/ondrej-kucera.html',
												}
											]
										},
										estage: {
											items: [
												{
													time: '16:00',
													name: 'Kateřina N. Voláková',
													title: 'Container Queries vs. Media Queries',
													endpoint: '../ajax/katerina-n-volakova.html',
												},
												{
													time: '16:25',
													name: 'Jan Svěrák',
													title: 'Přišel čas na čisté CSS?',
													endpoint: '../ajax/jan-sverak.html',
												},
											]
										},
										partners: {
											items: [
												{
													time: '16:10',
													name: 'Martin Krištof',
													company: 'Heureka Group',
													title: 'Jak využít sílu společné práce? Heureka! Mobbing, pairing, hackathons',
													endpoint: '../ajax/martin-kristof.html',
												},
											]
										},
									},

									{
										time: '17:00',
										fstage: {
											items: [
												{
													time: '17:00',
													name: 'Libor Vaněk',
													title: 'Současný stav frontendu, aneb „Možná že nepotřebujete React”',
													endpoint: '../ajax/libor-vanek.html',
												},
												{
													time: '17:15',
													heading: 'diskuze',
													title: 'Stav a budoucnost JS frameworků',
													name: 'Libor Vaněk, Riki Fridrich, Petr Glaser, moderuje Martin Michálek',
													endpoint: '../ajax/diskuze-js.html',
												},
											]
										},
										estage: {
											items: [
												{
													time: '17:00',
													name: 'Tereza Vaňková',
													title: 'Novinky ve Storybooku',
													endpoint: '../ajax/tereza-vankova.html',
												},
												{
													time: '17:25',
													name: 'Adam Kudrna',
													title: 'Design systém 1.0',
													endpoint: '../ajax/adam-kudrna.html',
												},
											]
										},
									},

									{
										time: '',
										twostages: true,
										top: true,
										fstage: {
											items: [
												{
													time: '17:45',
													name: 'Jana Nečasová, Tomáš Hejč, Břetislav Proft',
													title: 'Zakončení konference',
												}
											]
										},
									},

									{
										isHighlighted: true,
										title: '',
										title: 'Děkujeme za účast',
									},
								] %}
								{% for item in items %}
									<tr class="b-shedule__item {% if item.isHighlighted == true %}is-highlighted{% endif %} {% if item.twostages == true %}is-twostages{% if item.top == true %}-top{% endif %}{% endif %}">
											<th scope="row" class="b-shedule__col">
												{{ item.time }}
											</th>

										{% if item.isHighlighted == true %}
											<td class="b-shedule__col" colspan="3">
												<p class="b-shedule__title">
													{{ item.title|raw }}
												</p>
												{% if item.name %}
													<p class="b-shedule__name">
														{{ item.name|raw }}
													</p>
												{% endif %}
											</td>

										{% elseif item.twostages == true %}
											<td class="b-shedule__col b-shedule__off" data-label="F+E stage" colspan="2">
												{% for item in item.fstage.items %}
													<span class="b-shedule__off-item">
														<span scope="row" class="b-shedule__off-time">
															{{ item.time }}
														</span>
														<span class="b-shedule__off-title" style="margin: 0 auto">
															{% if item.heading %}<span class="u-red">{{ item.heading }}<br></span>{% endif %}

															{% if item.endpoint %}
																<a href="{{ item.endpoint }}" class="b-shedule__title" data-modal='{"medium": "fetch"}'>{{ item.title|raw }}</a><br>
															{% else %}
																<span class="b-shedule__title">{{ item.title|raw }}</span><br>
															{% endif %}
															{{ item.name|raw }}
														</span>
													</span>
												{% endfor %}
											</td>

										{% else %}

											<td class="b-shedule__col b-shedule__off" data-label="F stage">
												{% for item in item.fstage.items %}
													<span class="b-shedule__off-item">
														<span scope="row" class="b-shedule__off-time">
															{{ item.time }}
														</span>
														<span class="b-shedule__off-title">
															{% if item.heading %}<span class="u-red">{{ item.heading }}<br></span>{% endif %}

															{% if item.endpoint %}
																<a href="{{ item.endpoint }}" class="b-shedule__title" data-modal='{"medium": "fetch"}'>{{ item.title|raw }}</a><br>
															{% else %}
																<span class="b-shedule__title">{{ item.title|raw }}</span><br>
															{% endif %}
															{{ item.name|raw }}
														</span>
													</span>
												{% endfor %}
											</td>
											{% if item.estage or not item.isHighlighted %}
												<td class="b-shedule__col b-shedule__off"{% if item.estage %} data-label="E stage"{% endif %}>
													{% for item in item.estage.items %}
														<span class="b-shedule__off-item">
														<span scope="row" class="b-shedule__off-time">
															{{ item.time }}
														</span>
														<span class="b-shedule__off-title">
															{% if item.heading %}<span class="u-red">{{ item.heading }}<br></span>{% endif %}
															{% if item.endpoint %}
																<a href="{{ item.endpoint }}" class="b-shedule__title" data-modal='{"medium": "fetch"}'>{{ item.title|raw }}</a><br>
															{% else %}
																<span class="b-shedule__title">{{ item.title|raw }}</span><br>
															{% endif %}

															{{ item.name|raw }}
														</span>
													</span>
													{% endfor %}
												</td>
											{% endif %}

											{% if item.partners or not item.isHighlighted %}
												<td class="b-shedule__col b-shedule__off"{% if item.partners %} data-label="Partnerská stage"{% endif %}>
													{% for item in item.partners.items %}
														<span class="b-shedule__off-item">
														<span scope="row" class="b-shedule__off-time">
															{{ item.time }}
														</span>
														<span class="b-shedule__off-title">
															{% if item.heading %}<span class="u-red">{{ item.heading }}</span>{% endif %}
															<a href="{{ item.endpoint }}" class="b-shedule__title" data-modal='{"medium": "fetch"}'>{{ item.title|raw }}</a><br>
															{{ item.name|raw }} / {{ item.company }}
														</span>
													</span>
													{% endfor %}
												</td>
											{% endif %}

										{% endif %}
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>



		<div class="u-bg-default">
			<div class="u-pt-xxl row-main">
				<div class="u-mx-auto u-max-width--6-12 u-mb-xxl">
					<h2>
						Partneři konference
					</h2>
				</div>
				<div class="u-mx-auto u-max-width--10-12">
					<section class="c-sponzors c-sponzors--main u-mb-xxl">
						{% set items = [
							{
								imgSrc: 'mews.png',
								title: 'MEWS',
								width: '460',
								height: '59',
								href: 'https://www.mews.com/',
								isFullWidth: true
							},
							{
								imgSrc: 'ataccama.svg',
								title: 'Ataccama',
								width: '280',
								href: 'https://www.ataccama.com/',
							},
							{
								imgSrc: 'cdn77.svg',
								title: 'CDN77',
								width: '250',
								href: 'https://www.cdn77.com/',
							},
							{
								imgSrc: 'heureka-group.svg',
								title: 'Heureka Group',
								width: '250',
								href: 'https://heureka.group/',
							},
							{
								imgSrc: 'lmc.svg',
								title: 'LMC',
								width: '250',
								href: 'https://www.lmc.eu/'
							},
							{
								imgSrc: 'outreach.svg',
								title: 'Outreach',
								width: '250',
								href: 'https://www.outreach.io/'
							},
							{
								imgSrc: 'pux.svg',
								title: 'puxdesign',
								width: '250',
								href: 'https://www.puxdesign.cz/'
							},
							{
								imgSrc: 'superkoders.svg',
								title: 'SUPERKODERS',
								width: '300',
								href: 'https://superkoders.com/'
							},
						] %}
						{% if items is defined and items is not empty %}
							<ul class="c-sponzors__list grid grid--center grid--middle">
								{% for item in items %}
									<li class="c-sponzors__item grid__cell {% if not item.isFullWidth %}size--4-12@sm{% endif %}
									">
										<a class="c-sponzors__link" href="{{ item.href }}" target="_blank" rel="noopener noreferrer">
											<img src="{{ assets.images }}frontkon/partners/{{ item.imgSrc }}" alt="Logo společnosti {{ item.title }}" width="{{ item.width }}" height="{{ item.height }}" loading="lazy">
										</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</section>
				</div>

			</div>
		</div>

		<div class="u-bg-mint" id="faq">
			<div class="row-main u-pt-xxl">
				<section class="s-organizators s-indent u-mb-lg">
					<div class="u-mx-auto u-max-width--6-12">
						<h2>
							FAQ
							<a href="#faq" class="section-anchor__link section-anchor__link--program"> # </a>
						</h2>

						<h3>Kdy a kde konference proběhne?</h3>
						<p>Konference se uskuteční ve čtvrtek 12. října v <a href="https://goo.gl/maps/AwubyD7JZJQ68vsZ7">Quality hotelu v Brně</a>.<br>
						Program začíná v 10:00, ale prostory budou otevřeny už od 9:00. Pro vstup si připravte svoji vstupenku s kódem, kterou jste obdrželi e-mailem.</p>


						<h3>Budou se přednášky nahrávat?</h3>
						<p>Ano, program ze stages F a E se zaznamenávat bude. Videa se za nějaký čas objeví na YouTube kanále Frontendisti.cz</p>

						<h3>Jak se dostanu na místo?</h3>
						<p><a href="https://goo.gl/maps/AwubyD7JZJQ68vsZ7">Quality hotel</a> se nachází v blízkosti brněnského výstaviště.</p>
						<ul>
							<li>
								<p>
									<strong>Šalinou:</strong>
									Jednoduše se na místo dostanete šalinou č. 1 (směr Ečerova) z hlavního nádraží. Ze zastávky Výstaviště-hlavní vstup je to k hotelu asi 10 minut chůze.<br>
									Další možnost je vyrazit opět šalinou č.1 (směr Ečerova) z hlavního nádraží, a na Mendlově náměstí přesednout na bus č. 84 (směr Stará osada). Vystoupíte na zastávce Velodrom a k hotelu už to máte cca 300m.
								</p>
							</li>
							<li>
								<p>
									<strong>Autem:</strong>
									Parkování je možné u výstaviště či v <a href="https://goo.gl/maps/78NAQ1wYwkaRkFJ67">parkovacím domě vedle hotelu</a>. Kolem celého výstaviště je modrá parkovací zóna C, kde je parkování ZDARMA celý víkend a ve všední dny od 6 do 17 hodin. Po 17. hodině lze zaplatit parkování online pomocí mobilní aplikace ParkSimply a první hodina je zdarma. Volná parkovací místa však nemůžeme zaručit, a proto doporučujeme přijet spíš městskou hromadnou dopravou nebo přijít pěsky. Aspoň si pak můžete dát třeba pivo.
								</p>
							</li>
						</ul>


						<h3>Když se rozhodnu jet autem, budu mít kde zaparkovat?</h3>
						<p>
						Parkování je možné u výstaviště či v parkovacím domě vedle hotelu. Kolem celého výstaviště je modrá parkovací zóna C, kde je parkování ZDARMA celý víkend a ve všední dny od 6 do 17 hodin. Po 17. hodině lze zaplatit parkování online pomocí mobilní aplikace ParkSimply a první hodina je zdarma. Volná parkovací místa však nemůžeme zaručit, a proto doporučujeme přijet spíš městskou hromadnou dopravou nebo přijít pěsky. Aspoň si pak můžete dát třeba pivo.
						</p>


						<h3>Jak je to s ubytováním?</h3>
						<p>Pokud hledáte ubytování, v Brně je řada hotelů k dispozici. Doporučujeme rezervovat pokoj co nejdříve, protože ve stejném termínu probíhají ve městě i další akce.<br>
						Čas začátku a konce konference jsme však naplánovali tak, aby vám cestování v den akce nezpůsobovalo problémy a obešli jste se i bez přespání.
						</p>


						<h3>Jaká je cena vstupenky a co zahrnuje?</h3>
						<p>Cena základní vstupenky je 1 190 Kč. V ceně je celodenní vstup na konferenci a bezedná káva a voda.<br>
						Je možnost také zakoupit vstupenky pro “Podporovatele komunity”. Tato vstupenka stojí 2 490 Kč a kromě celodenního vstupu na konferenci obdrží vlastník jako poděkování tričko komunity (nezapomeňte napsat velikost do poznámky ;))
						</p>


						<h3>Jaká jsou témata a program konference?</h3>
						<p>
						Podrobný program konference je k dispozici výše na našem webu.
						Mezi přednáškami najdete témata jak pro ostřílené seniory, tak pro nováčky v IT.
						</p>

						<p>
						Na co se můžete těšit:
						</p>
						<ul>
							<li>1 akční den</li>
							<li>2 přednáškové sály</li>
							<li>kolem 20 přednášek (frontend & soft skills)</li>
							<li>400 účastníků</li>
							<li>témata pro juniory i seniory</li>
							<li>Workshopy a přednášky od partnerů komunity</li>
							<li>Špičky z oboru na jednom místě</li>
							<li>Příležitost pro networking</li>
							<li>Čas strávený se stejně smýšlející partou lidí</li>
						</ul>


						<h3>Co když budu mít během dne hlad?</h3>
						<p>Na místě bude stánek s rychlým občerstvením. Zároveň bude možnost se najíst v restauraci hotelu. V okolí jsou další restaurace a hotely, kam je možné si skočit. Dále také můžeme doporučit Wolt, Dáme Jídlo či BoltFood. I to už se k nám na jih dostalo :).</p>


						<h3>Jaký je odhadovaný počet účastníků konference a kdo je primární cílovou skupinou?</h3>
						<p>Očekáváme účast kolem 400 osob. Program obsahuje širokou škálu přednášek. Na své si přijdou junioři, kteří chtějí načerpat nové informace, stejně jako zkušení senioři, kteří mají zájem o pokročilejš témata.</p>


						<h3>Jak mohu získat více informací nebo kontaktovat organizátory?</h3>
						<p>Pokud máte nějaké další otázky ohledně konference, spojit se s námi můžete na e-mailu <a href="mailto:konference@frontendisti.cz">konference@frontendisti.cz</a>.</p>


						<h3>Máte nějaké sociální sítě nebo komunitní platformy, kde mohu najít další informace a komunikovat s ostatními účastníky?</h3>
						<p>Informace o konferenci pravidelně sdílíme přes naše sociální sítě a newsletter.</p>
						<p>Na Facebooku máme vytvořenou událost, která je otevřená diskuzím: <a href="https://fb.me/e/4Di9FaMlL">https://fb.me/e/4Di9FaMlL</a></p>

					</div>


				</section>
			</div>
		</div>

		<div class="u-bg-secondary">
			<div class="row-main">
				<section class="s-socials">
					<h2 class="u-vhide">
						Připoj se k nám skrz sociální síte
					</h2>
					<div class="b-social-conf">
						<div class="b-social-conf__content">
							<div class="grid">
								<div class="grid__cell size--5-12@xl">
									<p>
										Sleduj, co je nového <br>
										na sociálních sítích.
									</p>
								</div>
								<div class="grid__cell size--auto@xl">
									<div class="grid">
										<div class="grid__cell size--auto">
											<a class="b-social-conf__link" href="https://www.facebook.com/groups/frontendisti" target="_blank" rel="noopener noreferrer">
												{% include "@images/bg/facebook.svg" %}
												<span class="u-vhide">
													Frontendisti na facebooku
												</span>
											</a>
										</div>
										<div class="grid__cell size--auto">
											<a class="b-social-conf__link" href="https://twitter.com/Frontendisti">
												{% include "@images/bg/twitter.svg" %}
												<span class="u-vhide">
													Frontendisti na twitteri
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="b-social-conf__gallery">
							{% for img in range(0, 17) %}
								<div class="b-social-conf__img">
									<img src="{{ assets.images }}illust/gallery-{{ loop.index }}.jpg" alt="" width="110" height="110" loading="lazy">
								</div>
							{% endfor %}
						</div>
					</div>
				</section>
			</div>
		</div>




		<div class="u-bg-default" id="contact">
			<div class="row-main u-pt-xxl">
				<section class="s-organizators s-indent u-mb-lg">
					<div class="u-mx-auto u-max-width--6-12">
						<h2>
							Kontakt
							<a href="#faq" class="section-anchor__link section-anchor__link--program"> # </a>
						</h2>
						<div class="u-text-center u-mb-xxl">
							<p>
								V případě jakýchkoliv dotazů pište na <br>
								<a class="u-text-underline" href="mailto:konference@frontendisti.cz">konference@frontendisti.cz</a>
							</p>
						</div>
					</div>


				</section>
			</div>
		</div>
	</main>

{% endblock %}
