<!DOCTYPE html>
<html lang="cs" class="no-js">
	<head>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<meta name="description" content="Minikonference webových designérů a vývojářů orientovaných na HTML, CSS a trochu JavaScript.">
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, viewport-fit=cover">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@Frontendisti">
		<meta name="twitter:title" content="{{ pageTitle }} | Frontendisti.cz">
		<meta name="twitter:description" content="Minikonference webových designérů a vývojářů orientovaných na HTML, CSS a trochu JavaScript.">
		<meta name="twitter:image" content="{{ assets.images }}social/og-twitter.jpg">

		<meta property="og:title" content="{{ pageTitle }} | Frontendisti.cz">
		<meta property="og:description" content="Minikonference webových designérů a vývojářů orientovaných na HTML, CSS a trochu JavaScript.">
		<meta property="og:image" content="{{ assets.images }}social/og-facebook.jpg">
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Frontendisti.cz">
		<meta property="og:url" content="http://www.frontendisti.cz/">

		{% if isHomepage %}
			<title>Frontendisti.cz</title>
		{% else %}
			<title>{{ pageTitle }} | Frontendisti.cz</title>
		{% endif %}

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@500;700;900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="{{ assets.styles }}style.css" media="screen,handheld">
		<link rel="stylesheet" href="{{ assets.styles }}print.css" media="print">

		{% set scripts = [
			'https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes,Object.values,Array.prototype.find',
			assets.scripts + 'app.js',
			assets.scripts + 'ga.js',
			assets.scripts + 'modernizr.min.js'
		] %}

		{% for script in scripts %}
			<link rel="preload" as="script" href="{{ script }}">
		{% endfor %}

		<link rel="apple-touch-icon" sizes="180x180" href="{{ assets.images }}favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ assets.images }}favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ assets.images }}favicon/favicon-16x16.png">
		{# <link rel="manifest" href="{{ assets.images }}favicon/webmanifest.json"> #}
		<link rel="mask-icon" href="{{ assets.images }}favicon/safari-pinned-tab.svg" color="#2b2b2b">
		<meta name="msapplication-TileColor" content="#2b2b2b">
		<meta name="theme-color" content="#2b2b2b">

		<script>
			(function () {
				var className = document.documentElement.className;
				className = className.replace('no-js', 'js');

				document.documentElement.className = className;
			}());
		</script>
	</head>
	<body>
		<p class="m-accessibility">
			<a title="Přejít k obsahu (Klávesová zkratka: Alt + 2)" accesskey="2" href="#main" class="js-smooth-scroll">
				Přejít k obsahu
			</a>
			<span class="hide">|</span>
			<a href="#menu-main" class="js-smooth-scroll">
				Přejít k hlavnímu menu
			</a>
		</p>

		<header role="banner" class="header">
			<div class="row-main">
				<div class="header__inner">
					<h1 class="header__logo">
						{% include "@images/logo-frontendisti.svg" %}
					</h1>
				</div>
			</div>
		</header>

		{% block content %}
		{% endblock %}

		<footer role="contentinfo" class="footer u-pt-xl">
			<div class="row-main">
				<div class="u-mb-xl">

					{% if not isNewsletter %}
						<div class="u-max-width--6-12 u-mx-auto">
							{% include '@components/form/newsletter-footer.twig' %}
						</div>
					{% endif %}

					<p class="footer__copyright">
						&copy; 2014&ndash;{{ creation_date | date("YYYY") }} Spolek Frontendisti.cz

					</p>
					<p class="footer__provider">
						Provozuje Spolek Frontendisti.cz zapsaný u Městského soudu v Praze<br>
						Antala Staška 1565/30, Praha 4, 140 00 | IČ:&nbsp;03591263
					</p>
				</div>
			</div>
		</footer>
			{% for script in scripts %}
				<script src="{{ script }}"></script>
			{% endfor %}
			<script>
				App.run({})
			</script>
	</body>
</html>
