<section role="region" id="team" class="c-leaders">
	<div class="row-main">
		<h2 class="c-leaders__title">
			Organizační štáb <br>
			a&nbsp;kontakty
		</h2>
		<div class="u-max-width--10-12 u-mx-auto">
			<div class="c-leaders__wrap">
				<div class="c-leaders__list grid grid--center grid--x-md grid--y-xl" id="contact">
					{% for item in leaders.items %}
						<div class="c-leaders__item grid__cell size--6-12 size--3-12@md">
							<article class="b-leader">
								<h3 class="b-leader__title">
									{{ item.city|raw }}
								</h3>
								<ul class="b-leader__list">
									<li class="b-leader__item">
										<span class="b-leader__img">
											<img src="{{ assets.images }}illust/{{ item.img }}.jpg" alt="Profilová fotografie - {{ item.name }}" width="174" height="174" loading="lazy">
										</span>
										<span class="b-leader__name">
											{% if loop.first %}
												<span class="b-leader__badge">
													{% include '@components/core/icon-svg/icon-svg.twig' with {
														props: {
															name: 'crown'
														}
													} %}
												</span>
											{% endif %}
											{{ item.name|raw }}
										</span>
										<a href="mailto:{{ item.mail }}" class="btn btn--sm b-leader__btn">
											<span class="btn__inner">
												Kontakt
											</span>
										</a>
									</li>
									{% for sidekick in item.others %}
										<li class="b-leader__item">
											{{ sidekick.name|raw }}
										</li>
									{% endfor %}
								</ul>
							</article>
						</div>
					{% endfor %}
				</div>
			</div>
			{% include "@templates/inc/others.twig" %}
		</div>
	</div>
</section>
