<section id="partners" class="c-partners">
	<div class="row-main">
		<h2 class="c-partners__title">
			Partneři
		</h2>
		<ul class="c-partners__list grid grid--middle grid--center">
			{% for item in partners.items %}
				<li class="c-partners__item grid__cell size--6-12@sm size--auto@md">
					<a href="{{ item.href }}" class="b-partner" target="_blank" rel="noreferrer noopener">
						<img src="{{ assets.images }}illust/{{ item.name }}.svg" alt="{{ item.alt }}" width="{{ item.width }}" height="{{ item.height }}" loading="lazy">
					</a>
				</li>
			{% endfor %}
		</ul>
		<div class="c-partners__cta">
			<p>
				O naše partnery se umíme postarat.<br>
				Máte zájem stát se jedním z nich?
			</p>
			<p>
				<a class="btn btn--success" href="mailto:tomas.hejc@frontendisti.cz?subject=Nabídka%20partnerství%20pro%20Frontendisti.cz">
					<span class="btn__inner">
						Samozřejmě
					</span>
				</a>
			</p>
		</div>
	</div>
</section>
