{% set props = {
	imgSrc: props.imgSrc|default(),
	name: props.name|default(),
	title: props.title|default(),
	annot: props.annot|default(),
	url: props.url|default(),
	company: props.company|default(),
	twitter: props.twitter|default(),
	github: props.github|default(),
	linkedin: props.linkedin|default(),
	classes: props.classes|default([]),
} %}
{% set blocks = {
	annot: block('annot') is defined ? block('annot'),
} %}

{% set classes = [
	'b-detail',
]|merge(props.classes)|filter(i => i)|join(' ') %}

<article class="{{ classes }}">
	<div class="b-detail__wrap">
		{% if props.imgSrc %}
		<div class="b-detail__img">
			<img src="/img/frontkon/{{ props.imgSrc }}" alt="Profilová fotografie - {{ props.name }}" width="174" height="174" loading="lazy">
			{% if props.url  or props.twitter or props.github or props.linkedin %}
				<p class="b-detail__socials">
					{% if props.url %}
						<a href="{{ props.url }}" class="b-detail__social" target="_blank" rel="noopener noreferrer">
							{% include '@components/core/icon-svg/icon-svg.twig' with {
								props: {
									name: 'link'
								}
							} %}
						</a>
					{% endif %}
					{% if props.twitter %}
						<a class="b-detail__social" href="{{ props.twitter }}" target="_blank" rel="noopener noreferrer">
							{% include '@components/core/icon-svg/icon-svg.twig' with {
								props: {
									name: 'twitter'
								}
							} %}
						</a>
					{% endif %}
					{% if props.github %}
						<a class="b-detail__social" href="{{ props.github }}" target="_blank" rel="noopener noreferrer">
							{% include '@components/core/icon-svg/icon-svg.twig' with {
								props: {
									name: 'github'
								}
							} %}
						</a>
					{% endif %}
					{% if props.linkedin %}
						<a class="b-detail__social" href="{{ props.linkedin }}" target="_blank" rel="noopener noreferrer">
							{% include '@components/core/icon-svg/icon-svg.twig' with {
								props: {
									name: 'linkedin'
								}
							} %}
						</a>
					{% endif %}
				</p>
			{% endif %}
		</div>
		{% endif %}
		<div class="b-detail__content">
			<h2 class="b-detail__name">
				{{ props.name|raw }}
			</h2>
			{% if props.company %}
				<p class="b-detail__company">
					{{ props.company }}
				</p>
			{% endif %}
			<h3 class="b-detail__title">
				{{ props.title|raw|nl2br }}
			</h3>
			{% if blocks.annot %}
				<div class="b-detail__annot">

					{{ blocks.annot|raw }}
				</div>
			{% else %}
				<p class="b-detail__annot">
					{{ props.annot|raw }}
				</p>
			{% endif %}
		</div>
	</div>
</div>
